name: 'General CI'

on:
  # run on pushes to main
  push:
    branches:
      - main
      - gh-readonly-queue/main/**
  # run on pull requests that target the main branch
  pull_request:
    branches:
      - main
  # run weekly on Monday at 12:00
  schedule:
    - cron: '0 12 * * 1'

# concurrency:
#   # on main, we want all builds to complete even if commits/merging happens faster to make it easier to discover at which point
#   # something broke; else, we cancel "old" builds and run/(re)start the build with the latest changes
#   group: ${{ github.ref == 'refs/heads/main' && format('ci-main-{0}-{1}', github.workflow, github.sha) || format('ci-{0}-{1}', github.workflow, github.ref) }}

jobs:
  general:
    permissions:
      contents: read
      statuses: write

    uses: busybeaver/homelab-shared/.github/workflows/general.yaml@c3b4f03df9cef0059ddda6ec37815665caff32fd # v1.0.107
    with:
      lintTypescript: true
      filterRegexExlude: '.*Pulumi\.production\.yaml|.*data/.*|.*state/.*|.*\.git-crypt/.*'
    secrets:
      GITGUARDIAN_API_KEY: ${{ secrets.GITGUARDIAN_API_KEY }}
